In [48]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv(r"C:\Users\salba\Documents\Big Data Club\Machine-Learning-Introduction\dataset.csv")

In [50]:
df.head()

,Unnamed: 0,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,0,2015-02-02 14:19:00,23.7000,26.272,585.200000,749.200000,0.004764,1
1,1,2015-02-02 14:19:59,23.7180,26.290,578.400000,760.400000,0.004773,1
2,2,2015-02-02 14:21:00,23.7300,26.230,572.666667,769.666667,0.004765,1
3,3,2015-02-02 14:22:00,23.7225,26.125,493.750000,774.750000,0.004744,1
4,4,2015-02-02 14:23:00,23.7540,26.200,488.600000,779.000000,0.004767,1

In [51]:
df[["Humidity","Temperature","Light"]].idxmax()

Humidity       14636
Temperature     2664
Light           2602
dtype: int64

In [68]:
df.loc[df.CO2.idxmax(),"Light"]

0.0

In [80]:
d = {1: "name1", 2:"name2"}
d2 = {"name1": 1, "name2": 2}

In [81]:
df2 = pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index